<!DOCTYPE html>
<html>
<head>
<title>Schedule</title>
</head>

<body>

<h1>Schedule</h1>
<p>List of schedule events.</p>

</body>

<table style="width:100%">
  <tr>
    <th>Event</th>
    <th>Start Time</th>
    <th>End Time </th>
  </tr>
  <script>
  var event = '{{ events }}';
  for (i = 0; i < event.length; i++){
    var row = document.createElement("tr");
    var event_name = document.createElement("td");
    var start_time = document.createElement("td");
    var end_time = document.createElement("td");
    event_name.innerHTML = event[i]["event"];
    start_time.innerHTML = event[i]["start"];
    end_time.innerHTML = event[i]["end"];
    row.appendChild(event_name);
    row.appendChild(start_time);
    row.appendChild(end_time);
/*
    var cell = document.createElement("td");
    cell.appendChild(event[i]["event"]);
    row.appendChild(cell);
    var cell = document.createElement("td");
    cell.appendChild(event[i]["start"]);
    row.appendChild(cell);
    var cell = document.createElement("td");
    cell.appendChild(event[i]["end"]);
    row.appendChild(cell);
*/
  }
  </script>
  <!--
  <tr>
    <td>{{events[0]["event"]}}</td>
    <td>{{events[0]["start"]}}</td>
    <td>{{events[0]["end"]}}</td>
  </tr>
  -->

</table>

</body>
</html>
