<!DOCTYPE html>
<html>
<head>
<title>Schedule</title>
</head>

<body>

<h1>Schedule</h1>
<p>List of schedule events.</p>

<table id="events" style="width:100%">
  <tr>
    <th>Event</th>
    <th>Start Time</th>
    <th>End Time </th>
  </tr>

<!--
<tr>
    <td>{{events[0]["event"]}}</td>
    <td>{{events[0]["start"]}}</td>
    <td>{{events[0]["end"]}}</td>
  </tr>
-->
</table>

<script>
//for (i = 0; i < events.length; i++){
var row = document.createElement("tr");
row.setAttribute('id', "row");
var cell_name = document.createElement("td");
cell_name.setAttribute('id', "event_name");
var cell_start = document.createElement("td");
cell_start.setAttribute('id', "start_time");
var cell_end = document.createElement("td");
cell_end.setAttribute('id', "end_time");

cell_name.innerHTML = "{{events[0]["event"]}}";
cell_start.innerHTML = "{{events[0]["start"]}}";
cell_end.innerHTML = "{{events[0]["end"]}}";

row.appendChild(cell_name);
row.appendChild(cell_start);
row.appendChild(cell_end);

document.getElementById("events").appendChild(row);
//}

</script>

</body>
</html>
