<title>Hello from Scheduler</title>
  <h1>Hello, World!</h1>
  <form action="/insert" method="post">
    Event:<br>
    <input type = "text" name = "Name"><br>
    Date:<br>
    <input type = "date" name = "Date"><br>
    Start Time:<br>
    <input type = "time" name = "StartTime"><br>
    End Time: <br>
    <input type = "time" name = "EndTime"><br>
    <input type = "submit" name = "CreateEvent">
  </form>
  <form action="/{{ user }}">
    <input type="submit" value="See my schedule" />
  </form>
